.selectCards {
    display: flex;
    position: unset;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: var(--size-10px);
    height: var(--size-188px);
    width: var(--size-136px);
    background-color: var(--card-backgroundColor);
    border: black;
    border-radius: var(--size-25px);
}