@media (max-width: 900px) {
    .mainContainer {
        display: block;
        flex-direction: row;
        gap: var(--size-10px);
        margin: var(--size-10P);
    }

    .cardBtn {
        gap: var(--size-10px);
        margin: var(--size-10px);
    }
}

@media (max-width: 580px) {
    select {
        display: none;
    }
}

@media (max-width: 480px) {
    .lopu {
        display: none;
    }
}

@media (max-width: 440px) {
    #headerContainer {
        justify-content: space-evenly;
    }

    .lopu {
        display: none;
    }

    h3 {
        display: none;
    }
}

@media (max-width: 424px) {
    .cardBtn {
        padding-left: var(--size-25P);
    }
}

@media (max-width: 330px) {
    .cardBtn {
        padding-left: var(--size-15P);
    }

    .footerText {
        font-size: var(--size-16px);
    }
}