:root {

    /*
    ****** COLORS
    */
    --header-backgroundColor: rgb(37,45,62);
    --header-borderColor: whitesmoke;
    --header-fontHarryYellow: rgb(255,196,1);
    --header-fontHarryRed: rgb(255, 36, 0);
    --main-backgroundColor: rgb(41,49,51);
    --card-backgroundColor: rgb(12,143,156);

    /*
    ****** SIZE
    */

    /* numbers */
    --size-1: 1;
    --size-9999: 9999;

    /* pixel */
    --size-0px: 0px;
    --size-1px: 1px;
    --size-2px: 2px;
    --size-5px: 5px;
    --size-10px: 10px;
    --size-16px: 16px;
    --size-20px: 20px;
    --size-24px: 24px;
    --size-25px: 25px;
    --size-30px: 30px;
    --size-48px: 48px;
    --size-60px: 60px;
    --size-80px: 80px;
    --size-124px: 124px;
    --size-128px: 128px;
    --size-136px: 136px;
    --size-188px: 188px;

    /* procent */
    --size-10P: 10%;
    --size-15P: 15%;
    --size-25P: 25%;
    --size-80P: 80%;
    --size-100P: 100%;

    /* vh */
    --size-100vh: 100vh;

    /* second */
    --size-2seconds: 2s;

    /* deg */
    --size-360deg: 360deg;
}